body{
    font-family: 'Open Sans', sans-serif;
}

a:hover{
    text-decoration: none;
}

.banner-container{
    background-color: #cacaca;
}

.ban-col{
    background-color: #8d8d8d;
}

.navbar-container{
    background-color: #262b37;
    top: 0;
    position: sticky;
    z-index: 3;

}

.about-container{
    background-color: #00bdbd;
}

.education-container{
    background-color: #EEEEEE;
}

.redtype{
    color: #58211d;
}

.bg-redtype{
    background-color: #ec6962;
}

.bg-redtype:hover{
    background-color: #5c0501;
}

.circle{
    background-color: tomato;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.project-container{
    background-color: #2bb3dd;
}

.form-container{
    background-color: #474d5d;
}

.bt-box{
    color:rgb(135, 135, 167);
}

.bt-boxsnd{
    color: goldenrod;
}

.bumpy-box{
    font-size: 73px;
}

.b-box{
    border-color: rgb(252, 123, 77) !important;
    border-width: 3px !important;
    color:burlywood;
}

.inner-form{
    background-color: #585f73;
}

.footer{
    background-color: #2bb3dd;
}

.circle-foot{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
    background-color: white;
    font-size: 34px;
    text-align: center;
    color: #2bb3dd;
}

.circle-foot:hover{
    background-color: #474d5d;
}